* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1{
    font-family: Impact;
}


/* COMPONENTS */

/* header */
.header-container {
    background-color: orange;
}

/* canvas */
#canvas {
    margin: 20px auto;
    border: 1px solid black;
    display: block;
}

/* canvas container */
.memes-container {
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 300px;
}



/* HELPERS */

/* flex helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

/* grid helpers */
.grid{
    display:grid;
}
/* list helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

